<section>
    <div class="row d-flex justify-content-center">
        <div class="box col-md-6 border border-5 border-dark m-5 p-5">
            <h3 class="text-center">🎉&nbsp;&nbsp;&nbsp;🎉</h3>
            <h4 class="text-center mt-3">🥳🥳&nbsp;&nbsp;&nbsp;Order Placed Successfully&nbsp;&nbsp;&nbsp;🥳🥳</h4>
            <h3 class="text-center mt-3 ">🎉&nbsp;&nbsp;&nbsp;🎉</h3>
            <div class="buttons mt-5 d-flex justify-content-evenly">
                <div class="col-md-2">
                    <a type="button" class="btn btn-primary" href="/">Home</a>
                </div>
                <div class="col-md-2">
                    <a type="button" class="btn btn-primary" href="/orders">Orders</a>
                </div>
            </div>
        </div>
    </div>
</section>